*{margin:0px;padding: 0px}
*{box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none;}
.box{
    width: 100%;
    height: auto;
    background: #F2F2F2;
}
/*             头部                 */
.top{
    width: 100%;
    height: 90px;
}
.head{
    width: 100%;
    height: 54px;
    background:#EEEFEF;
}
.head-middle{
    width: 1000px;
    height: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
.head-left{
    width:330px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    width: 160px;
    height: 40px;

    position: relative;
}
.logo>a{
    width: 100%;
    height: 100%;
    color: #2D2D2D;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo>a>img{
    width: 40px;
    height: 40px;
}
.logo>a>p{
    font-size:18px;
    font-weight: 600;

}
.logo::after{
    content:"";
    width: 2px;
    height: 40px;
    background: #CCCCCC;
    position: absolute;
    top: 0px;
    right: -13px;

}
.head-p1{
    font-size: 17px;
    color: #B7B8B8;
}
.head-right{
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-zi{
    width: 240px;
    height: 36px;
    background: #E5E9E9;
    border-radius: 50px;
    display: flex;
    align-items:center;

}
.tu{
    width: 23px;
    height:23px;
    background:url(../img/dainhua.png) no-repeat;
    background-size:100% 100%;
    margin-left: 20px;
}
.wenzi{
    width: 162px;
    height: 25px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.wenzi>.p1{
    font-size: 12px;
    color:#B7B8B8;
}
.wenzi>.p2{
    color: #D54545;
    font-size: 14px;
    font-weight: 600;
}
/*          导航               */
.nav{
    width: 100%;
    height: 36px;
    background:#2B2B2B;
}
.daohang{
    width: 1000px;
    height: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
.nav-ul{
    width: 770px;
    height: 100%;
    display: flex;
}
.nav-li{
    width: 100px;
    height: 100%;
    border-left: 1px solid rgb(40,35,50);
}
.nav-li:hover{
    background: #161616;
}

.nav-ul>.nav-li>p{
    font-size: 14px;
    text-align: center;
    line-height: 38px;
}
.nav-ul>.nav-li>p>a{
     color: #F9E9E9;
}
.nav-li:first-child{
    width: 70px;
}
.nav-li:last-child{
    border-right: 1px solid rgb(40,35,50);
}
.baise{
    width: 180px;
    height: 100%;
    display: flex;
    align-items: center;
}
.kuangzi{
    width: 100%;
    height: 20px;
    background: rgba(183,0,0,0.5);
    border-radius: 20px;
    display: flex;
}
.baise>.kuangzi>input{
    width: 140px;
    height:20px;
    background: #fff;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    border: none;
    outline: none;
}
.sousu{
    width: 15px;
    height: 15px;
    margin-left: 8px;
    margin-top: 2px;
}
.sousu>a{
    width: 100%;
    height: 100%;
    display: flex;
}
.sousu>a>img{
    width: 100%;
    height: 100%;
}
/*       banner            */
.banner{
    width: 100%;
    height: 200px;
    background:url(../img/ban2.png) no-repeat;
    background-size:100% 100%;
}
/* 产品体系 */
.about{
    width: 101%;
    height: 653px;
    position: absolute;
    top: 255px;
    left: 0px;
}
.us{
    width: 900px;
    height: 610px;
    margin: 0px auto;
    background: #FFFFFF;
    border:1px solid #E3E3E3;
    box-shadow: 0px 0px 5px #B5B5B5;
    display: flex;
}
/* 左边 */
.left{
    width: 265px;
    height: auto;
}
.guding{
    width: 100%;
    height: 40px;
    background: url(../img/12131513.png) no-repeat;
    background-size: 100% 100%;
    box-shadow: 2px 1px 0px #999;
    overflow: hidden;
}
.women{
    width: 180px;
    height: 25px;
    margin-top: 10px;
    margin-left: 60px;
    display: flex;
    justify-content: space-between;
}
.character{
    font-size: 13px;
    color: #841212;
    line-height: 30px;
}
.font{
    font-size: 18px;
    color: #FCEDED;
}
.js{
    width: 100%;
    height: 40px;
    border-bottom:1px solid #C4C0B5;
    background: #EFEBE0;
    margin-top: 1px;
}

.left>.js:nth-child(7){
    background: url(../img/tu91.png) no-repeat;
    background-size: 100% 100%;
}
.left>.js:nth-child(7) .weilei{
    border-left: 5px solid #000;
}

.js:hover{
    background: url(../img/tu91.png) no-repeat;
    background-size: 100% 100%;
}
.js:hover .weilei{
    border-left: 5px solid #24190E;
}
.left div.js:nth-child(2){
    margin-top: 0px;
    border-top: 1px solid #999;
}
.left div.js:nth-child(5){
    border-bottom: 1px solid #999;
}
.mingzi{
    width: 77px;
    height: 100%;
    float: right;
    display: flex;
    margin-right: 11px;
    justify-content: space-between;
    align-items: center;
}
.mingzi>p{
    font-size: 16px;
    color: #1D1C19;
    line-height: 50px;
}
.weilei{
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 5px solid #BBB8B5;
    border-bottom: 5px solid transparent;;
}
.weilei2{
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 5px solid #BBB8B5;
    border-bottom: 5px solid transparent;;
}
#item1{
    width: 100%;
    height: 80px;
}
.zi{
    width: 100%;
    height: 40px;
    border-bottom:1px solid #C4C0B5;
    margin-top: 1px;
}
#zicaidan{
    font-size: 16px;
    color: #A1A1A1;
    line-height: 50px;
    z-index: 1;
}
.sanjiaoxing{
    width: 5px;
    height: 2px;
    background: #A1A1A1;
}
.below{
    width: 100%;
    height: 210px;
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.fuwu{
    width: 100%;
    height: 62px;
    background: #C89659;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fuwu>img{
    width: 82px;
    height: 62px;
}
.service{
    width: 155px;
    height: 40px;
}
.service>p{
    font-size: 16px;
    color: #FCF2E5;
}
.jingying{
    width: 100%;
    height: 80px;
    background:#5E503C url(../img/tu85.png) no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.jingying>img{
    width: 82px;
    height: 100%;
}
.chanpin{
    width: 155px;
    height: 60px;
}
.chanpin>h4{
    color: #FFF1DD;
}
.chanpin>p{
    color: #F2F0EE;
    font-size: 14px;
}
.weibo{
    width: 100%;
    height: 58px;
}
.weibo>ul{
    width: 100%;
    height: 100%;
    border: 2px  solid #e5e5e5;
}
.weibo>ul>li{
    width: 86px;
    height: 100%;
    float: left;
    margin-left: 1px;
    background:#EEEEEE;

}
.weibo>ul>li:first-child{
    margin-left: 0px;
}
.weibo>ul>li>a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.weibo>ul>li:hover{
    background:#F9EFEF;
}
.piect{
    width: 38px;
    height: 36px;
    background:url(../img/11.png) no-repeat;
    background-size:100% 100%;

}
.piect:hover{
    background:url(../img/12.png) no-repeat;
    background-size:100% 100%;
}

.weixin{
    width: 38px;
    height: 36px;
    background:url(../img/13.png) no-repeat;
    background-size:100% 100%;
}
.weixin:hover{
    background:url(../img/14.png) no-repeat;
    background-size:100% 100%;
}

.qq{
    width: 38px;
    height: 36px;
    background:url(../img/15.png) no-repeat;
    background-size:100% 100%;
}
.qq:hover{
    background:url(../img/16.png) no-repeat;
    background-size:100% 100%;
}
/*     右边           */
.right{
    width: 633px;
    height: 100%;
}
.right-top{
    width: 95%;
    height: 55px;
    margin: 0px auto;
    border-bottom: 1px dotted #D6D6D6;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.weizhi{
    width: 235px;
    height: 45px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.weizhi>img{
    width: 10px;
    height: 10px;
    margin-right: 2px;
}
.weizhi>p{
    font-size: 12px;
    color: #616161;
}
.weizhi>span{
    font-size: 12px;
    color: #BFBFBF;
}
.content{
    width: 95%;
    height: 80%;
    margin: 0px auto;
    margin-top: 10px;
}
.biaoti{
    width: 100%;
    height: 40px;
    background: #383838;
}
.biaoti>h2{
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}
.gongneng{
    width: 100%;
    height: 30px;
    margin-top: 10px;
}
.gongneng>p{
    width: 110px;
    color: #000;
    font-size: 18px;
    line-height: 30px;
}
.zw>p{
    text-indent: 2em;
    color: #717070;
}
.zw>span{
    color: #717070;
    display: block;
    margin-left: 1em;
}




















/*          底部          */
footer{
    width: 100%;
    height: 47px;
    background: #D3D6D9;
    margin-top:43px;
}
.lik{
    width: 990px;
    height: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
.youqing{
    width: 220px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lik-p1{
    font-size: 12px;
    color: #6E6F70;
}
.copyright{
    width: 460px;
    height: 100%;
}
.copyright>p{
    color: #979696;
    font-size: 12px;
    line-height: 47px;
}
